<!DOCTYPE html>
<html>
  <head>
    <title>DemoBlog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<section class="hero is-primary is-medium">
	  <!-- Hero head: will stick at the top -->
	  <div class="hero-head">
			<%= render  "layouts/navbar" %>
	  </div>

	  <!-- Hero content: will be in the middle -->
	  <div class="hero-body">
	    <div class="container has-text-centered">
				<svg viewBox="0 0 960 300">
					<symbol id="s-text">
						<text text-anchor="middle" x="50%" y="80%"><%= yield :page_title %></text>
					</symbol>
				
					<g class = "g-ants">
						<use xlink:href="#s-text" class="text-copy"></use>
						<use xlink:href="#s-text" class="text-copy"></use>
						<use xlink:href="#s-text" class="text-copy"></use>
						<use xlink:href="#s-text" class="text-copy"></use>
						<use xlink:href="#s-text" class="text-copy"></use>
					</g>
				</svg>
	    </div>
	  </div>
	</section>
    <%= yield %>
  </body>
</html>
